*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
/*hEADER1
========================================================================*/
.header1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: #FFD11D;
    align-items: center;
}
.header1__logo{
    transition: all 120ms ease-in;
}
.header1__logo h1{
    display: flex;
    color: rgb(63, 77, 95);
    transform: scale(1);
}
.header1__logo:hover{
    transform: scale(1.1);
}
.header1__search{
    display: flex;
    align-items: center;
    margin-left: -15%;
    margin-right: -15%;
    
}
.header1__search input{
    display: flex;
    font-size: 20px ;
    width: 500px;
    height: 100%;
    border-radius:15px 0px 0px 15px ;
    border-right: none;
    text-align: center;
}
.header1__search button{
    display: flex;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-right: 5px;
    padding-left: 5px;
    background: #fff;
    border-left: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    transition: all 120ms ease-in;
}
.header1__search button:hover{
    background: rgb(63, 77, 95);
    color: #fff;
}
.header1__direita{
    display: flex;
    flex-direction: row;
    padding-right: 1%;
}
.header1__login{
    display: flex;
    padding-right: 10%;
}
.header1__login h2{
    display: flex;
    color: rgb(63, 77, 95);
    transition: all 120ms ease-in;
}
.header1__login h2:hover{
    color: rgb(144, 165, 184);
}
.header1__carrinho{
    display: flex;
}
.header1__carrinho h2{
    display: flex;
    color: rgb(63, 77, 95);
    transition: all 120ms ease-in;
}
.header1__carrinho h2:hover{
    color: rgb(144, 165, 184);
}


/*hEADER2
========================================================================*/
.header2{
    display: flex;
    padding: 10px;
    background: rgb(63, 77, 95);
    align-items: center;
    justify-content: space-around;
    padding-right: 70%;
    padding-left: 12%;
}
.header2__menu h3{
    display: flex;
    color: #fff;
    border: none;
    transform: scale(1);
    transition: all 120ms ease-in;
}
.header2__menu h3:hover{
    transform: scale(1.1);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
}
.header2__calcados h3{
    display:  flex;
    color: #fff;
    border: none;
    transform: scale(1);
    transition: all 120ms ease-in;
}
.header2__calcados h3:hover{
    transform: scale(1.1);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
}
