/* rESET
================================================= */
*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}
body{
    font-family: sans-serif;
}

/* hEADER
================================================= */
.header{
    background: rgb(61, 96, 136);
    padding: 10px;
    position: fixed;
    width: 100%;
}
.header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav ul{
    display: flex;
    flex-direction: row;
}
.header__nav ul li{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    color: aliceblue;
    transform: scale(1);
    transition: all 120ms ease-in;
}
.header__nav ul li:hover{
    color: rgb(180, 32, 76);
    transform: scale(1.1);
    padding-left: -15px;
    padding-right: -15px;
}
/* mAIN1
================================================= */
.main1{
    display: flex;
    padding: 10% 0px;
    background-image: url(/basico/images/bg-search.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
}
.main1__tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
}
.main1__tittle h1{
    font-size: 45px;
    font-weight: bold;
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 1%;
}
.main1__tittle p{
    font-size: 35px;
    text-align: center;
    color: aliceblue;
}
.main1__form{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.main1__form input{
    font-size: 35px;
    text-align: center;
    background: aliceblue;
    border: none;
    border-radius: 20px 0px 0px 20px;
    transition: all 180ms ease-in;
}
.main1__form input:focus{
    background: rgb(220, 239, 255);
}
.main1__form button{
    font-size: 15px;
    color: aliceblue;
    padding: 20px;
    background: rgb(158, 37, 16);
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    transform: scale(1);
    transition: all 120ms ease-in;
}
.main1__form button:hover{
    background: rgb(182, 38, 13);
    transform: scale(1.05);
}
.main1__statistics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: -13%;
    margin-left: 30%;
    margin-right: 30%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3) ;
    padding: 1%;
    border-radius: 10px;
}
.statistics__1{
    color: rgb(0, 0, 0);
    border-right: 3px solid rgba(102, 102, 102, 0.2);
    padding: 2%;
    padding-right: 9%;

    text-align: center;
}
.statistics__1 h3{
    font-size: 25px;
}
.statistics__2{
    color: rgb(0, 0, 0);
    border-right: 3px solid rgba(102, 102, 102, 0.2);
    padding: 2%;
    padding-right: 10%;
    text-align: center;
}
.statistics__2 h3{
    font-size: 25px;
}
.statistics__3{
    color: rgb(0, 0, 0);
    border-right: 3px solid rgba(102, 102, 102, 0.2);
    padding: 2%;
    padding-right: 10%;
    text-align: center;
}
.statistics__3 h3{
    font-size: 25px;
}
.statistics__4{
    color: rgb(0, 0, 0);
    padding: 2%;

    text-align: center;
}
.statistics__4 h3{
    font-size: 25px;
}

/* mAIN2
================================================= */
.main2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}
.main2__tittle{
    font-weight: inherit;
}
.main2__tittle h1{
    font-size: 40px;
    padding-bottom: 1%;
}
.main2__tittle p{
    font-size: 25px;
    padding-bottom: 3%;
}
/* mAIN2 iMAGES
================================================= */

.destiny__box1{
    position: relative;
    overflow: hidden;
    width: 443px;
    height: 210px;
    margin-left: 16%;
    margin-right: 16%;
    border-radius: 16px;
}
.destiny__image1{
    display: flex;
}
.destiny__image1 img{
    position: absolute;
    display: flex;
    width: 100%;
    padding-left: 0;
    transform: scale(1.2);
    transition: all 210ms ease-in;
}
.destiny__image1 img:hover{
    transform: scale(1);
}
.image1__tittle{
    box-sizing: border-box;
    color: aliceblue;
    position: absolute;
    background: none;
    opacity: 0.0;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 37%;
    width: 100%;
    transition: all 210ms ease-in;
    text-align: left;
}
.image1__tittle:hover{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,.3) 50%);
    padding-top: 35%;
    opacity: 1;
}